<!-- .resources/js/components/categories/Show.vue -->
<!-- Données disponibles :
     - ressourcesVisibles
     - showMoreRessources
     - showMoreButton
     - ressources{id, titre, description, auteur, image, poids, created_at,
       updated_at, categorie_id, categorie.nom, categorie.icone}
-->


<template>

    <div class="container object">
      <div id="main-container-image">

        <section class="work">

          <h2 class="d-none">Our resources</h2>

          <figure v-for="ressource in ressources" :key="ressource.id" class="white">
            <router-link :to="{ name: 'ressources.show', params: { id: ressource.id } }">
              <img :src="'img/' + ressource.image" :alt="ressource.titre" />
              <dl>
                <dt>{{ ressource.titre }}</dt>
                <dd>{{ ressource.description | truncate(200) }}</dd>
              </dl>
            </router-link>
            <div class="wrapper-part-info">
              <div class="part-info-image"><img :src="'img/' + ressource.categorie.icone" :alt="ressource.categorie.nom" width="28" height="28"/></div>
              <div class="part-info">{{ ressource.categorie.nom }}</div>
            </div>
          </figure>

          <div id="wrapper-oldnew" v-if="showMoreButton" @click="viewMore()">
      	    <div class="oldnew">
      	      <div id="more"></div>
      	    </div>
      	  </div>

        </section>

      </div>
    </div>

</template>

<script>
    export default {
        data() {
          return {
            ressourcesVisibles: 8,
            showMoreRessources: 8,
            showMoreButton: true
          }
        },
        computed: {
          /**
           * ressources()
           * [Récupère les ressources appartenant à la catégorie dont l'id est
              envoyé et montre les 8 premières]
           * @return {[array]} [ressources[]]
           */
          ressources() {
            let id = this.$route.params.id
            return this.$store.getters.getRessourcesByCategorieId(id).slice(0, this.ressourcesVisibles)
          }
        },
        methods: {
          /**
           * viewMore()
           * [Montre les x ressources suivantes]
           */
          viewMore: function() {
            this.ressourcesVisibles += this.showMoreRessources
            this.showMoreButton = this.ressourcesVisibles === this.ressources.length
          }
        }
    }
</script>
