<!-- .resources/js/components/ressources/HeaderComponent.vue -->

<template>

  <header>
    <div id="wrapper-header">
      <div id="main-header" class="object">
        <router-link :to="{ name: 'ressources.index'}">
          <div class="logo">
            <img src="img/logo-burst.png" alt="logo platz" height="38" width="90">
          </div>
        </router-link>
        <div id="main_tip_search">
          <form>
            <input type="text" name="search" id="tip_search_input" autocomplete="off" required="">
          </form>
        </div>
        <div id="stripes"></div>
      </div>
    </div>
  </header>

</template>

<script>

    export default {

    }
    
</script>
