<!-- .resources/js/components/ressources/NavComponent.vue -->
<!-- Données disponibles :
     - categories[{id, nom, icone}]
-->

<template>

  <nav>

    <!-- MENU LAPTOP -->

    <div id="wrapper-navbar">
      <div class="navbar object">
        <div id="wrapper-bouton-icon">
          <div v-for="categorie in categories" :key="categorie.id" class="bouton-categorie">
            <router-link :to="{ name: 'categories.show', params: { id: categorie.id } }">
              <img :src="'img/' + categorie.icone" :alt="categorie.nom" :title="categorie.nom" height="28" width="28">
            </router-link>
          </div>
          <router-link :to="{ name: 'ressources.index' }">
            <div class="bouton-categorie">
              <img src="img/icon-premium.svg" alt="all" title="all" height="28" width="28">
            </div>
          </router-link>
        </div>
      </div>
    </div>

    <!-- MENU MOBILE -->

    <div id="main-container-menu" class="object">
      <div class="container-menu">
        <div id="main-cross">
          <div id="cross-menu"></div>
        </div>
        <div id="main-small-logo">
          <div class="small-logo"></div>
        </div>
        <router-link :to="{ name: 'ressources.index' }">
          <div class="main-categorie">
            <div class="categorie"><a href="#">Show all</a></div>
          </div>
        </router-link>
        <div v-for="categorie in categories" :key="categorie.id" class="main-categorie">
          <router-link :to="{ name: 'categories.show', params: { id: categorie.id } }">
            <div class="categorie"><a href="#">{{ categorie.nom }}</a></div>
          </router-link>
        </div>
      </div>
    </div>

  </nav>

</template>

<script>

    export default {
      computed: {
        /**
         * categories()
         * [Récupère toutes les catégories]
         * @return {[array]} [catégories[]]
         */
        categories() {
          return this.$store.getters.getCategories
        },
      }
    }

</script>
