<!-- .resources/js/components/ressources/Show.vue -->
<!-- Données disponibles :
     - newCommentaire{pseudo, texte, ressource_id}
     - ressource{id, titre, description, auteur, image, poids, created_at,
       updated_at, categorie_id, categorie.nom, categorie.icone}
     - ressourcesSimilaires[{id, titre, description, auteur, image, poids,
       created_at, updated_at, categorie_id}]
     - commentaires[{id, pseudo, texte, ressource_id, created_at, updated_at}]
-->

<template>

  <div class="container object">
    <div id="main-container-image">

      <div class="title-item">
        <div class="title-icon"><img :src="'img/' + ressource.categorie.icone" :alt="ressource.categorie.nom" width="68" height="68"/></div>
        <div class="title-text">{{ ressource.titre }}</div>
        <div class="title-text-2">{{ ressource.created_at | dateParse('YYYY.MM.DD') | dateFormat('MMM D, YYYY') }} by {{ ressource.auteur }}</div>
      </div>

      <div class="work">

        <figure class="figure-single white">
          <img :src="'img/' + ressource.image" :alt="ressource.titre" />
        </figure>

        <div class="wrapper-text-description">
          <div class="wrapper-file">
            <div class="icon-file"><img :src="'img/' + ressource.categorie.icone" :alt="ressource.categorie.nom" width="21" height="21"/></div>
            <div class="text-file">{{ ressource.categorie.nom }}</div>
          </div>

          <div class="wrapper-weight">
            <div class="icon-weight"><img src="img/icon-weight.svg" alt="weight" width="20" height="23"/></div>
            <div class="text-weight">{{ ressource.poids }} Mo</div>
          </div>

          <div class="wrapper-desc">
            <div class="icon-desc"><img src="img/icon-desc.svg" alt="description" width="24" height="24"/></div>
            <div class="text-desc">{{ ressource.description }}</div>
          </div>

          <div class="wrapper-download">
            <div class="icon-download"><img src="img/icon-download.svg" alt="download" width="19" height="26"/></div>
            <div class="text-download"><a :href="'files/' + ressource.id + '.pdf'" download><b>Download</b></a></div>
          </div>

          <div class="wrapper-morefrom">
            <div class="text-morefrom">More from {{ ressource.categorie.nom }}</div>
            <div class="image-morefrom">
              <div v-for="ressourceSimilaire in ressourcesSimilaires" :key="ressourceSimilaire.id">
                <router-link :to="{ name: 'ressources.show', params: { id: ressourceSimilaire.id } }">
                  <div class="image-morefrom-detail">
                    <img :src="'img/' + ressourceSimilaire.image" :alt="ressourceSimilaire.titre" :title="ressourceSimilaire.titre" width="430" height="330"/>
                  </div>
                </router-link>
              </div>
            </div>
          </div>

        </div>

        <div id="comments">

          <div class="post-reply">
            <div class="title-post-send">
              <hr/><h2>Your comments</h2>
            </div>
          </div>

          <div v-for="commentaire in commentaires" :key="commentaire.id" class="post-reply">
            <div class="name-reply-post">{{ commentaire.pseudo }}</div>
            <div class="text-reply-post">{{ commentaire.texte }}</div>
          </div>

          <div class="post-send">
            <div id="main-post-send">
              <div class="title-post-send">Add your comment</div>
              <form id="contact" method="post" @submit.prevent="insertCommentaire(newCommentaire)">
                <input id="pseudo-input" v-model="newCommentaire.pseudo" type="text" name="pseudo" placeholder="Votre Pseudo">
                <input type="hidden" v-model="newCommentaire.ressource_id = ressource.id" name="ressourceId">
                <fieldset>
                  <textarea id="message" v-model="newCommentaire.texte" name="texte" maxlength="500" placeholder="Votre Message" tabindex="5" cols="30" rows="4"></textarea>
                </fieldset>
                <div>
                  <input type="submit" name="submit" value="Send" />
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

</template>

<script>
    export default {
        data() {
          return {
            newCommentaire: {
              pseudo: '',
              texte: '',
              ressource_id: null
            }
          }
        },
        computed: {

          /**
           * ressource()
           * [Récupère une ressource en fonction de son id]
           * @return {[object]} [ressource{}]
           */
          ressource() {
            let id = this.$route.params.id
            return this.$store.getters.getRessourceById(id)
          },

          /**
           * ressourcesSimilaires()
           * [Récupère les ressources qui appartiennent à la même catégorie
              que la ressource dont l'id est envoyé, en prend 4]
           * @return {[array]} [ressources similaires[]]
           */
          ressourcesSimilaires() {
            let id = this.ressource.categorie_id
            return this.$store.getters.getRessourcesByCategorieId(id)
                                      .filter(ressources => ressources.id != this.ressource.id)
                                      .slice(0,4)
          },

          /**
           * commentaires()
           * [Récupère les commentaires correspondant à l'id d'une ressource]
           * @return {[array]} [commentaires[]]
           */
          commentaires() {
            let id = this.$route.params.id
            return this.$store.getters.getCommentairesByRessourceId(id)
          }
        },
        methods: {

          /**
           * insertCommentaire()
           * [Renvoie newCommentaire vers l'action insertCommentaire
              Reset newCommentaire]
           * @param  {[object]} data [nouveau commentaire]
           */
          insertCommentaire(data) {
            this.$store.dispatch('insertCommentaire', data)
            this.newCommentaire = { pseudo: '', texte: '', ressource_id: null }
          }
        }
    }
</script>

<style media="screen">
  #main-container-image {
    opacity: 1;
    animation: fadein 0.3s ease-in;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
</style>
